@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.Card__section
{
    margin: 30px 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    /* grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) ); */
    /* column-gap: 10px; */
    grid-gap: 1rem;
    /* background-color: var(--bgcolor); */
}

.main__container
{
    width: 253px;
    display: inline-flex;
    
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 1.5rem; */

}
.main__container-heading
{
    background-color: #00A7E5;
    display: flex;
    display: inline-flex;
    width: 253px;
    height: 55.61px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    color: #fff;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.main__container-heading-h6
{
    /* font-size: 18px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
}
.main__container-heading-h6-like 
{
    color: #FFFFFFE5;
    /* font-size: 18px; */
    font-size: 15px;
    margin: auto;
}
.main__container-heading__img
{
    display: flex;
    flex-direction: column;
    /* margin-left: 78px; */
    margin-left: 85px;
    margin-top: -9px;
    align-items: center;
   
}
.main__container-heading__img-img
{
    /* height: 8px; */
    /* height: 10px; */
    height: 9px;
    width: 15px;
    left: 172px;
}
.main__container__img
{
    display: inline-block;
    width: 253px;
    height: 210px;
}
.main__container__img-img
{
    width: 253px;
    height: 210px;
}
.main__container__icon
{
    background-color: #fff;
    border-radius: 0px 0px 25px 25px ;
    margin-bottom: 10px;
    padding: 10px;
    width: 253px;
    height: 60px;
    /* display: flex; */
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex: 1 1rem; */
   

}
.main__container__icon-icons-face
{
    background-color: #E4EBEF;
    width: 28.16px;
    height: 28.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.main__container__icon-like-h6
{
    font-size: 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #404B68;
    line-height: 20px;
    margin-left: 5px;
}
.main__container-behind
{
    width: 253px;
   /* background: url('Images/Rectangle.png'); */
}
.second {
    margin: 40px;
}

.heart {
    font-size: 10px;
}

.afterheart {
    height: 8px;
    width: 14px;
}
.heart2
{
    font-size: 15px;
}
.main__container-heading__img
{
    margin-left: 76px;
    margin-top: -1px;
}
.section__like {
    font-size: 18px;
    opacity: 90%;
    margin: auto;
}

.hidden
{
    background-color: #fd8e3a;
    border-radius: 36px;
    margin: auto;
    /* width: 180px; */
    width: 85%;
    padding: 10px;
    /* top: 4px; */
    position: relative;
    /* top: -28px; */
    top: -40px;
    /* left: 78px; */
    /* right: 0; */
    bottom: -8px;
    z-index: -1;
}
.group
{
    width: 25px;
    height: 25px;
    margin-right: 5px;

}

@media only screen and (max-width: 1024px) {

    .Card__section
    {
        grid-template-columns: repeat(3, 1fr);
    }


}
@media only screen and (max-width: 768px) {

    .Card__section
    {
        grid-template-columns: repeat(2, 1fr);
    }


}
@media only screen and (max-width: 425px) {

    .Card__section
    {
        grid-template-columns: repeat(1, 1fr);
        /* margin: 30px 60px; */
        margin: 30px 88px;
    }


}